<nav class="offset6 span6 post-menu right">
	<ul>
		<li>
			{% if user.is_authenticated %}
			<a href="{% url blog:admin %}">
				{{user.username}}&nbsp;
				<span class="icon icon-user"></span>
			</a> 
			{% else %}
			<a href="{% url blog:admin %}">
				Sign In&nbsp;
				<span class="icon icon-user"></span>
			</a> 
			{% endif %}
			
		</li>
		{% if post.id %}
			<li>
				<a href="{% url blog:post-editform pk=post.id %}">
					Edit this post&nbsp;
					<span class="icon icon-pencil"></span>
				</a>
			</li>
		{% endif %}
		<li>
			<a href="{% url auth_logout %}">
				Logout&nbsp;
				<span class="icon icon-switch">
			</a> 
		</li>
	</ul>
</nav>